/* body {
  background-image: linear-gradient(to right bottom, #159957, #155799);
} */
/* .about {
  background-color: #000;
  border-radius: 5px;
  border: 1px solid white;
  width: 900px;
}
.top-container {
  background-color: #000;
  color: white;
  padding-bottom: 30px;
}

.right-top-container {
  padding-top: 30px;
  margin-left: 40px;
}

.right-top-container .name {
  font-size: 1.6rem;
}

.email,
.contact {
  margin-top: 20px;
}

.email span,
.contact span {
  margin-left: 5px;
  color: #747474;
} */
.app {
  background-image: linear-gradient(to right bottom, #159957, #155799);
  background-attachment: fixed;
  min-height: 92.6vh;
}
.app-container {
  padding-top: 50px;
}

.app-row {
  height: 80vh;
}

.app-sidebar {
  background-color: #fff;
  height: 100%;
  border-radius: 20px;
  padding: 25px 15px;
  box-shadow: 0px 0px 10px black;
  text-align: center;
}
.app-main-content {
  background-color: #fff;
  border-radius: 20px;
  padding: 25px 15px;
  box-shadow: 0px 0px 10px black;
  height: 100%;
}

@media (max-width: 991px) {
  .app-main-content {
    margin: 30px 0px;
    height: auto;
  }
}
