.about {
  background-color: #000;
  border-radius: 5px;
  border: 1px solid white;
  width: 900px;
  /* margin-top: 5vh; */
}
.top-container {
  background-color: #000;
  color: white;
  padding-bottom: 30px;
}

.right-top-container {
  padding-top: 30px;
  margin-left: 40px;
}

.right-top-container .name {
  font-size: 1.6rem;
}

.email,
.contact {
  margin-top: 20px;
}

.email span,
.contact span {
  margin-left: 5px;
  color: #747474;
}
